* {
    margin: 0em;
    padding: 0em;
    //font-size: 16px;
}

.navigation-bar {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin: 1em;
    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        margin-right: 3em;
        li {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5em;
            margin: 1em 0 1em 0;
            text-align: center;
        }
         :nth-child(2) {
            border-right: 1px solid black;
            border-left: 1px solid black;
        }
         :nth-child(3) {
            border-right: 1px solid black;
        }
    }
    .logo {
        padding: 0.5em;
        margin: 1em 1em 1em 3em;
        border: 1px solid black;
        width: 15em;
        text-align: center;
        border-radius: 10px;
    }
}

header {
    margin: 3em 1em 3em 1em;
    border: 1px solid black;
    .container-header {
        margin: 4em;
        display: flex;
        justify-content: space-between;
    }
    .texto-header {
        width: 50%;
        h1 {
            margin-bottom: 1.5em;
        }
        p {
            text-align: justify;
            width: 90%;
            font-weight: none;
        }
    }
    .imagen-header {
        width: 50%;
        border: 1px solid black;
        text-align: center;
        align-items: center;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        height: 15em;
        img {
            width: 100%;
            border: 1px solid black;
            text-align: center;
            align-items: center;
            border-radius: 30px;
            display: flex;
            justify-content: center;
            height: 15em;
        }
    }
}

main {
    margin: 1em;
    border: 1px solid black;
    .container-imgs {
        //margin: 5em;
        display: flex;
        justify-content: space-around;
        margin: 4% 0 4% 0;
    }
    .container-img1 {
        align-items: center;
        display: flex;
        flex-direction: column;
        img {
            border: 1px solid black;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            height: 80%;
            width: 60%;
            margin-bottom: 2em;
        }
        p {
            font-size: 38px;
        }
    }
    .container-button {
        display: flex;
        justify-content: center;
        button {
            width: 60%;
            height: 6em;
            margin-bottom: 3em;
        }
    }
}