* {
  margin: 0em;
  padding: 0em;
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  margin: 1em;
}

.navigation-bar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-right: 3em;
}

.navigation-bar ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  margin: 1em 0 1em 0;
  text-align: center;
}

.navigation-bar ul :nth-child(2) {
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.navigation-bar ul :nth-child(3) {
  border-right: 1px solid black;
}

.navigation-bar .logo {
  padding: 0.5em;
  margin: 1em 1em 1em 3em;
  border: 1px solid black;
  width: 15em;
  text-align: center;
  border-radius: 10px;
}

header {
  margin: 3em 1em 3em 1em;
  border: 1px solid black;
}

header .container-header {
  margin: 4em;
  display: flex;
  justify-content: space-between;
}

header .texto-header {
  width: 50%;
}

header .texto-header h1 {
  margin-bottom: 1.5em;
}

header .texto-header p {
  text-align: justify;
  width: 90%;
  font-weight: none;
}

header .imagen-header {
  width: 50%;
  border: 1px solid black;
  text-align: center;
  align-items: center;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  height: 15em;
}

header .imagen-header img {
  width: 100%;
  border: 1px solid black;
  text-align: center;
  align-items: center;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  height: 15em;
}

main {
  margin: 1em;
  border: 1px solid black;
}

main .container-imgs {
  display: flex;
  justify-content: space-around;
  margin: 4% 0 4% 0;
}

main .container-img1 {
  align-items: center;
  display: flex;
  flex-direction: column;
}

main .container-img1 img {
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  height: 80%;
  width: 60%;
  margin-bottom: 2em;
}

main .container-img1 p {
  font-size: 38px;
}

main .container-button {
  display: flex;
  justify-content: center;
}

main .container-button button {
  width: 60%;
  height: 6em;
  margin-bottom: 3em;
}
